body {
    margin: 0px;
    font-family: Kanit !important;
    color: #1a1a1a;
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1;
}

#main-header {
    background-color: #343753;
    display: flex;
    height: 70px;
    padding-inline: 40px;
}

#footer {
    background-color: #1a1a1a;
    width: 100%;
    height: 150px;
    margin-top: 120px;
    padding: 25px;
}

.h-fc {
    height: fit-content !important;
}

.h-0px {
    height: 0px !important;
}

.h-24px {
    height: 24px !important;
}

.h-38px {
    height: 38px !important;
}

.h-45px {
    height: 45px !important;
}

.h-85p {
    height: 85% !important;
}

.h-15p {
    height: 15% !important;
}

.min-h-25px {
    min-height: 25px;
}

.w-5p {
    width: 5% !important;
}

.w-10p {
    width: 10% !important;
}

.w-15p {
    width: 15% !important;
}

.w-17p {
    width: 17% !important;
}

.w-20p {
    width: 20% !important;
}

.w-30p {
    width: 30% !important;
}

.w-33p {
    width: 33% !important;
}

.w-40p {
    width: 40% !important;
}

.w-47p {
    width: 47% !important;
}

.w-48p {
    width: 48% !important;
}

.w-50p {
    width: 50% !important;
}

.w-60p {
    width: 60% !important;
}

.w-65p {
    width: 65% !important;
}

.w-70p {
    width: 70% !important;
}

.w-75p {
    width: 75% !important;
}

.w-80p {
    width: 80% !important;
}

.w-85p {
    width: 85% !important;
}

.w-90p {
    width: 90% !important;
}

.w-95p {
    width: 95% !important;
}

.w-100p {
    width: 100% !important;
}

.w-100px {
    width: 100px !important;
}

.w-80px {
    width: 80px !important;
}

.w-450px {
    width: 450px !important;
}

.w-fc {
    width: fit-content !important;
}

.pr-2p {
    padding-right: 2%;
}

.pt-5px {
    padding-top: 5px;
}

.pt-10px {
    padding-top: 10px !important;
}

.pb-0px {
    padding-bottom: 0px !important;
}

.pr-10px {
    padding-right: 10px;
}

.pbl-10px {
    padding-block: 10px !important;
}

.pbl-20px {
    padding-block: 20px !important;
}

.pin-0px {
    padding-inline: 0px !important;
}

.pin-20px {
    padding-inline: 20px !important;
}

.pin-50px {
    padding-inline: 50px !important;
}

.clean-link {
    text-decoration: none;
}

.c-white-2 {
    color: #f7f7f7;
}

.c-white-3 {
    color: #e9e9e9;
}

.c-white-4 {
    color: #bbbbbb;
}

.c-gray-1 {
    color: #444444;
}

.c-black-1 {
    color: #1a1a1a;
}

.fs-2-5r {
    font-size: 2.5rem;
}

.fs-1-2r {
    font-size: 1.2rem;
}

.fs-1-8r {
    font-size: 1.8rem !important;
}

.fw-100 {
    font-weight: 100 !important;
}

.fw-200 {
    font-weight: 200 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.mt-m-20px {
    margin-top: -20px;
}

.mt-m-2px {
    margin-top: -2px;
}

.mt-24px {
    margin-top: 24px;
}

.mt-28px {
    margin-top: 28px;
}

.mt-60px {
    margin-top: 60px;
}

.mt-80px {
    margin-top: 80px;
}

.mt-120px {
    margin-top: 120px;
}

.ml-20px {
    margin-left: 20px;
}

.ml-10px {
    margin-left: 10px;
}

.ml-5px {
    margin-left: 5px;
}

.ml-2p {
    margin-left: 2%;
}

.ml-3p {
    margin-left: 3%;
}

.ml-5p {
    margin-left: 5%;
}

.ml-m-100px {
    margin-left: -100px;
}

.ml-m-80px {
    margin-left: -80px;
}

.mb-0px {
    margin-bottom: 0px;
}

.mbl-10px {
    margin-block: 10px;
}

.hover-c-lgray {
    transition: color 0.1s ease;
}

.hover-c-lgray:hover {
    color: #cacaca;
}

.hover-c-lgray-2 {
    transition: color 0.1s ease;
}

.hover-c-lgray-2:hover {
    color: #aaaaaa;
}

.hover-bgc-gray {
    transition: background-color 0.2s ease;
}

.hover-bgc-gray:hover {
    background-color: #a5a5a5;
}

.hover-pointer:hover {
    cursor: pointer;
}

.section-1 {
    border: 2px solid #e7e7e7;
    background-color: #f8f8f8;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 30px;
}

.section-2 {
    background-color: #c7c7c7;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding-inline: 30px;
    padding-block: 20px;
}

.section-3 {
    background-color: #30366d;
    height: fit-content;
    padding-inline: 50px;
    padding-block: 80px;
}

.btn-text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.error-container {
    background-color: #ffc7c7;
    border: 2px solid #ff6c6c;
    padding-block: 20px;
    padding-inline: 40px;
    border-radius: 5px;
    height: fit-content;
}

.log-out-btn {
    position: absolute;
    top: 15px;
    right: 30px;
}

.buy-link-delete-button {
    position: relative;
    top: -162px;
    left: 98.5%;
    background-color: #ffffff00;
    border: none;
    color: #e70f0f;
    transition: color 0.1s ease-in;
}

.buy-link-delete-button:hover {
    color: #a80000;
}

.span-button-black {
    background-color: #ffffff00;
    border: none;
    color: #3a3a3a;
    transition: color 0.1s ease-in;
    user-select: none;
}

.span-button-black:hover {
    color: #070707;
}

.span-button-red {
    background-color: #ffffff00;
    border: none;
    color: #e70f0f;
    transition: color 0.1s ease-in;
    user-select: none;
}

.span-button-red:hover {
    color: #a80000;
}

.new-delivery-group-popup-background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #0000007e;
}

.new-delivery-group-popup-window {
    background-color: #f1f1f1;
    border-radius: 10px;
    width: 60%;
    height: fit-content;
    padding-block: 30px;
    padding-inline: 50px;
    margin-inline: auto;
}

.input-fixed-overlay-container {
    display: flex;
    background-color: #e4e4e4;
    border: 1px solid #9c9c9c;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.bt-lgray {
    border-top: 1.5px solid #bbbbbb;
}

.bb-lgray {
    border-bottom: 1.5px solid #bbbbbb;
}

.br-10px {
    border-radius: 10px !important;
}

.br-tl-0px {
    border-top-left-radius: 0px !important;
}

.br-bl-0px {
    border-bottom-left-radius: 0px !important;
}