body {
    margin: 0px;
    font-family: Kanit !important;
    color: #1a1a1a;
    background-color: #f5f5f5;
}

#main-header {
    background-color: #d63f3f;
    display: flex;
    height: 70px;
    padding-inline: 40px;
}

.h-fc {
    height: fit-content !important;
}

.w-10p {
    width: 10% !important;
}

.w-15p {
    width: 15% !important;
}

.w-20p {
    width: 20% !important;
}

.w-40p {
    width: 25% !important;
}

.w-60p {
    width: 60% !important;
}

.w-80p {
    width: 80% !important;
}

.w-85p {
    width: 85% !important;
}

.w-90p {
    width: 90% !important;
}

.w-100p {
    width: 100% !important;
}

.w-450px {
    width: 450px !important;
}

.pr-2p {
    padding-right: 2%;
}

.pt-5px {
    padding-top: 5px;
}

.pin-50px {
    padding-inline: 50px !important;
}

.clean-link {
    text-decoration: none;
}

.c-white-2 {
    color: #f7f7f7;
}

.fs-2-5r {
    font-size: 2.5rem;
}

.fs-1-2r {
    font-size:1.2rem;
}

.mt-m-2px {
    margin-top: -2px;
}

.mt-80px {
    margin-top: 80px;
}

.ml-20px {
    margin-left: 20px;
}

.mb-0px {
    margin-bottom: 0px;
}

.hover-c-lgray {
    transition: color 0.1s ease;
}

.hover-c-lgray:hover {
    color: #dddddd;
}

.section-1 {
    border: 2px solid #e7e7e7;
    background-color: #f8f8f8;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 30px;
}

.error-container {
    background-color: #ffc7c7;
    border: 2px solid #ff6c6c;
    padding-block: 20px;
    padding-inline: 40px;
    border-radius: 5px;
    height: fit-content;
}

.log-out-btn {
    position: absolute;
    top: 15px;
    right: 30px;
}

.bt-lgray {
    border-top: 1.5px solid #bbbbbb;
}

.bb-lgray {
    border-bottom: 1.5px solid #bbbbbb;
}